
.dangerBtn{
    margin: 30px 0px;
    width: 100%;
    height: 43px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    border-radius: 8px;
}

.modalActions{
    align-items: center;
}

.modalActions button{
    height: 43px;
}