.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2563eb;
}

.btnPrimary {
  background: #2563eb;
  color: white;
  border: none;
}

.btnPrimary:hover { background: #1d4ed8; }

.btnSecondary {
  background: transparent;
  color: #4b5563;
  border: 1px solid #d1d5db;
}

.btnSecondary:hover { background: #f3f4f6; }

.controlsSection {
  display: flex;
  gap: 1rem;
  padding: 2rem 5%;
  justify-content: center;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.searchBar input, .filters select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.searchBar input { width: 300px; }

.mainContent {
  padding: 2rem 5%;
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.offerCard {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.offerCard:hover { transform: translateY(-5px); }

.offerImage {
  height: 150px;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
}

.offerImage img{
  height: 150px;
}

.offerInfo { padding: 15px; }

.offerInfo h3 {
  margin: 10px 0;
  font-size: 1.1rem;
  height: 2.4rem;
  overflow: hidden;
}

.price {
  font-size: 1.25rem;
  font-weight: 800;
  color: #111827;
}

.detailsBtn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #f3f4f6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loading{
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}